*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*general elements*/

.btn-blue{
    background-color: #0061ff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.btn-white{
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 10px;

}

/*Start Nav*/

header{
    height: fit-content;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
}

.logo{
    float: left; 
    padding: 20px 1%;
}

.nav{
    float: left;
    width: fit-content;
    padding: 20px 1%;
    text-decoration: none;
    color: black;    
}

.nav-right{
    float: right;
}

#btn-start{
    float: right;
    position: relative;
    width: fit-content;
    padding: 20px 1%;
    /*altezza btn da sistemare*/
}

.nav:hover{
    border-bottom: black 3px solid;
}

/*End Nav*/ 

main{
    margin-top: 62px;
}

/*Start Jumbotron*/

.jumbotron-background{
    background-color: #b4d0e7;
    height: fit-content;
    padding-bottom: 5%;
    /*da verificare*/
}

.jumbotron{
    margin: 0px 15%;
    padding-top: 40px;
}

.first-img{
    float: right;
    position: relativSe;
    width: 70%;
}

.jumbotron h2{
    font-size: 70px;
    margin-bottom: 30px;
}

.jumbotron div:first-of-type{
    margin-bottom: 40px;
}

.btn-blue:hover{
    background-color: #3a85ff;
}

#jumbotron-underbutton-div{
    margin-top: 20px;
    margin-bottom: 20px;
}

#arrow-down{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

/*End Jumbotron*/

.container{
    margin: 0 20%;
}

.first-block{
    margin-top: 250px;
}

.first-block h2{
    font-size: 40px;
    margin-bottom: 30px;
} 

.first-block .column{
    position: relative;
    width: 30%;
    float: left;
    text-align: center;
    height: fit-content;
}

#first-column{
    margin-right: 5%;
}

#second-column{
    margin-right: 5%;
}

.column-title{
    border: 1px solid grey;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
}

.column-content{
    border: 1px solid grey;
}

#orizontal-space{
    margin-top: 200px;
}

.second-block{
    margin-top: 50px;
}

.second-block img{
    width: 50%;
    position: relative;
    float: left;
}

.second-block h2{
    padding-top: 30px;
}