*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*general elements*/

.container{
    margin: auto 20%;
}

.btn-blue{
    background-color: #0061ff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.btn-white{
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.column{
    position: relative;
    width: 30%;
    float: left;
    height: fit-content;
}

.space-between-column{
    margin-right: 5%;
}

/*Start Nav*/

header{
    height: fit-content;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
}

.logo{
    float: left; 
    padding: 20px 1%;
}

.nav{
    float: left;
    width: fit-content;
    padding: 20px 1%;
    text-decoration: none;
    color: black;    
}

.nav-right{
    float: right;
}

#btn-start{
    float: right;
    position: relative;
    width: fit-content;
    padding: 20px 1%;
    /*altezza btn da sistemare*/
}

.nav:hover{
    border-bottom: black 3px solid;
}

/*End Nav*/ 

main{
    margin-top: 62px;
}

/*Start Jumbotron*/

.jumbotron-background{
    background-color: #b4d0e7;
    height: fit-content;
    padding-bottom: 5%;
    /*da verificare*/
}

.jumbotron{
    margin: 0px 15%;
    padding-top: 40px;
}

.first-img{
    float: right;
    position: relativSe;
    width: 70%;
}

.jumbotron h2{
    font-size: 70px;
    margin-bottom: 30px;
}

.jumbotron div:first-of-type{
    margin-bottom: 40px;
}

.btn-blue:hover{
    background-color: #3a85ff;
}

#jumbotron-underbutton-div{
    margin-top: 20px;
    margin-bottom: 20px;
}

#arrow-down{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

/*End Jumbotron*/

.first-block{
    margin-top: 250px;
    background-color: brown;
    float: left;
}

.first-block h2{
    font-size: 30px;
    margin-bottom: 30px;
} 

.first-block .column-title{
    border: 1px solid grey;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
}

.first-block .column-content{
    border: 1px solid grey;
    padding: 20px 10%;
}

.first-block h3{
    font-size: 25px;
}

.first-block .price{
    font-weight: bold;
    margin: 10px auto;
}

.p-grey{
    color: gray;
    margin-bottom: 10px;
}

.first-block p{
    margin-bottom: 10px;
}

.pre-btn-p{
    margin-bottom: 150px;
}

.first-block .btn-blue{
    display: table;
}

#orizontal-space{
    float:left;
    margin-top: 25px;
    width: 100%;
}

#orizontal-space .btn-blue{
    position: relative;
    float: right; 
    top: -50px; /*da controllare*/
}

/*End First block
  Start Second*/

.second-block{
    padding-top: 170px;
    float: left;
}

.second-block img{
    width: 50%;
    float: left;
}

#second-block-text{ 
    padding: 30px 5%;  
    float: left; 
    width: 40%;
}

.second-block p{
    margin-top: 20px;
}

.second-block .btn-white{
    display: table;
    margin-top: 10px;
}

/*  End Second block
    Start Third*/

.third-block{
    margin-top: 100px;
    float: left;
}

.third-block h2{
    padding-bottom: 20px;
}

.third-block img{
    width: 100%;
}

.third-block .column{
    padding-bottom: 30px;
}


.fourth-block img{
    position:relative;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    transform: translate(-50%, -50%);
}

.left-photo{
    width: 15%;
    height: 145px;
    float: left;
    background-color: green;
}

.right-photo{
    float: left;
    width: 15%;
    height: 145px;
    background-color: red;
    position:relative;
    left: 40%;
}

.scritta{
    float: inline-start;
}

.fourth-block{
    float: left;
    background-color: yellow;
}

